*.pyc
*~
*.json
*REMOTE*
*BASE*
*LOCAL*
*BACKUP*
*.orig
**/.cache/*
*.remote
**venv*/
*.local
foo.py
checkmate/plugins/*
.zedstate
.checkmate/*
build/*
docs/build/*
dist/*
*egg-info
settings/github.py
*#
tmp/*
*.ipynb
*ipynb*